nav.container__nav{
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container h1{
  font-size: 6vw;
  text-align: center;
}
.card-title-weather{
  font-size: 1.3rem;
}
.align-items-center{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 100%;
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.input-group{
display: flex;
padding-bottom: 2rem;
}
span.input-group-text{
  border: 1px solid #ced4da;
  padding: 5px;
  align-items: center;
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e9ecef;
  color: #212529;
}
.form-control{
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ced4da;
  border-left: none;

}
span.latitude{
  padding: 5px 7px;
}
.btn {
  color: #fff;
  background-color: #ff8f00;
  border-color: #ff8f00;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 1rem;
}
.btn:hover{
  color: #fff;
  background-color: #e27f00;
  border-color: #ef9727;
}
.btn:focus{
  outline: 4px solid rgba(226,127,0, 0.5);
  background-color: #e27f00;
}
#btnCurrent{
  opacity: 0.5;
  cursor: default;
}
#btnCurrent:hover{
  background-color: #ff8f00;
}
.col-auto{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#weatherApp{
  margin: 3rem auto 5rem;
  text-align: center;
}
.weather{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
img{
  max-width: 100%;
}
.figure{
  align-items: center;
  display: flex;
}
.weather_day{
  width: 80%;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

/************ ROTATE CARD ********/
.col{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
}
.cardFlip{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  position: relative;
  text-align: center;
}
.cardFlip.active {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.back.active{
  border: 10px solid red;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 5px 11px 1px #000000;
}
.front {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  background: linear-gradient(180deg, rgb(255, 143, 0) 50%, rgb(208, 255, 0) 100%);
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  color: #fff;
  height: 100%;
  justify-content: center;
  background: linear-gradient(3600deg, rgb(62, 83, 254) 0%, rgb(19, 21, 22) 50%);
}
/********END ROTATE *******/
#myChart{
  display: none;
}
/************ Image Unsplash ************/
.imageUnsplash{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.figureUnsplash img{
  opacity: 0.8;
}
.figureUnsplash img:hover{
  opacity: 1;
}
.figureUnsplash__user{
  text-align: right;
  font-size: 11px;
}
.figureUnsplash__user a{
  text-decoration: none;
  color:black;
}
.figureUnsplash__user a:hover{
  color: #e27f00;
}